# Node modules
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# IDE files
*.suo
*.ntvs*
*.njsproj
*.sln

# test output
test-output/